.show-item {
    list-style-type: none;
    padding: 20px 0;
    margin-left: 185px;
}

.show-item label {
    color: #646464;
    margin-right: 30px;
    font-size: 14px;
    
}

#filter-by {
    border: none;
    outline: none;
    color: #646464;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #242526;
}